    .product-categories{
        .custom-img-overlay{
            cursor: pointer;
            opacity: 0;
            &:hover{
                opacity: 1;
            }
            font-family: 'Fuzzy Bubbles', cursive;
        }
    }